<%= form_for(@admin_topic) do |f| %>
  <% if @admin_topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_topic.errors.count, "error") %> prohibited this admin_topic from being saved:</h2>

      <ul>
      <% @admin_topic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.cktext_area :content %>
  </div>
  <div class="field">
    <%= f.label :clicks %><br>
    <%= f.number_field :clicks %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit class: "btn btn-primary"%>
  </div>
<% end %>
