<% provide :subtitle, "禁止文章"%>

<table class="table table-hover">
  <thead>
    <tr>
      <th>标题</th>
      <th>状态</th>
      <th>点击量</th>
      <th class="col-md-2">更新时间</th>
      <th class="col-md-3">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @admin_topics.each do |admin_topic| %>
      <tr>
        <td><%= link_to admin_topic.title, admin_topic_path(admin_topic) %></td>
        <td><%= admin_topic.status%></td>
        <td><%= admin_topic.clicks %></td>
        <td><%= admin_topic.updated_at.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= link_to '发布', publish_admin_topics_path(admin_topic), method: :put %>
        |&nbsp;<%= link_to '禁止', ban_admin_topics_path(admin_topic), method: :put %>
        |&nbsp;<%= link_to '前台显示', admin_topic %>
        |&nbsp;<%= link_to '编辑', edit_admin_topic_path(admin_topic) %>
        |&nbsp;<%= link_to '删除', admin_topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新建文章', new_admin_topic_path %>
