<% provide :subtitle, "招才纳贤"%>

<%= form_for(@admin_topic) do |f| %>
  <% if @admin_topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_topic.errors.count, "error") %> prohibited this admin_topic from being saved:</h2>

      <ul>
      <% @admin_topic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :title %>
  </div>
  <div class="field">
    <%= f.cktext_area :content %>
  </div>
  <div class="field">
    <%= f.hidden_field :clicks %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "更新简介",class: "btn btn-primary"%>
  </div>
<% end %>
<br>
<%= link_to 'Back', admin_topics_path %>
