<% provide(:subtitle, @admin_topic.title)%>
<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= raw @admin_topic.content %>
</p>

<p>
  <strong>Clicks:</strong>
  <%= @admin_topic.clicks %>
</p>

<%= link_to 'Edit', edit_admin_topic_path(@admin_topic) %> |
<%= link_to 'Back', admin_topics_path %>
