<!DOCTYPE html>
<html>
<head>
  <title>SntonCom</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/header'%>
  <div class="content">
    <embed src="<%= asset_path('st.swf')%>" style="width:100%;"  height="460" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" wmode="transparent">
    <div>
      <%= yield %>
    </div>
  </div>
  <%= render 'layouts/footer'%>
</body>
</html>
